@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
body {
  background-color: rgb(0, 0, 0);
}
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.main {
  background-image: url(assets/images/bg.jpg);
  height: 70vh;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
}
.main .box {
  height: 70vh;
  width: 100%;
  opacity: 0.5;
  background-color: black;
  position: absolute;
  top: 0;
}
nav {
  display: flex;
  align-items: center;
  max-width: 60vw;
  margin: auto;
  padding-top: 10px;
  justify-content: space-between;
  height: 62px;
}
nav img {
  width: 140px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}
.hero {
  height: calc(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: medium;
  position: relative;
  font-family: "Martel Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  padding: 0 30px;
}
.hero > :first-child {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
}
.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.seperation {
  height: 7px;
  background-color: rgb(83, 80, 80);
}
.btn {
  padding: 3px 8px;
  font-weight: 600;
  color: #ffffff;
  background-color: rgba(117, 117, 117, 0.132);
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}
.btn-red {
  background-color: rgb(255, 0, 0);
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  border: 1px solid red;
}
.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.main input {
  padding: 7px 100px 8px 14px;
  font-size: 12px;
  border-radius: 4px;
  font-weight: 900;
  color: whitesmoke;
  background-color: rgb(23, 23, 23, 0.5);
  border: 1px solid rgba(188, 188, 188, 0.5);
  color: rgb(255, 255, 255);
}
.btn-red-sm {
  background-color: rgb(255, 20, 20);
  color: white;
  border: 1px solid red;
}
.container {
  padding: 30px;
  display: flex;
  gap: 30px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.default-1 {
  box-sizing: border-box;
  color: white;
  background: linear-gradient(149deg, #192247 0%, #210e17 99.08%);
  padding: 30px 20px 80px 20px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 12px;
}
.default-ltr-cache-1hi6ug3 {
  background: linear-gradient(149deg, #192247 0%, #210e17 99.08%);
  color: white;
  padding: 30px 20px 80px 20px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 40px;
  border-radius: 12px;
  gap: 20px;
}
.text {
  color: white;
  font-size: 30px;
  text-align: start;
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
  margin-right: 20px;
  font-weight: bolder;
}
section.first > div :nth-child(2) {
  font-size: 24px;
  color: white;
}
.faq h2 {
  text-align: center;
  margin-left: 50px;
  font-size: 45px;
  padding-bottom: 30px;
  padding-top: 30px;
  color: white;
}
.faq {
  background-color: black;
  color: white;
}
.faqbox:hover {
  background-color: rgb(61, 60, 60);
}
.faqbox {
  display: flex;
  font-size: 24px;
  background-color: #2d2d2d;
  padding: 27px;
  max-width: 60vw;
  margin: 34px auto;
  justify-content: space-between;
  cursor: pointer;
}
footer {
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 14px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}
.footer a{

  color: white;
}
.footer-items {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
